<h3 style="color:deeppink"> View Software Details</h3>
<div class ="card" style = "background-color:cornsilk ;width: 70rem; padding:50px" >
    <div  class ="card-text ms-20" >
        <label> <b> Name : </b></label> {{software.name}}
    </div>

    <div>
        <label> <b> Version : </b></label> {{software.version}}
    </div>

    <div>
        <label> <b> Release Date : </b></label> {{software.releaseDate}}
    </div>

    <div>
        <label> <b> Price : </b></label> {{software.price}}
    </div>

    <div>
        <label> <b> Operating Systems : </b></label> {{software.operatingSystems}}
    </div>

    <div>
        <label> <b> Installer Size : </b></label> {{software.installerSize}}
    </div>

    <div>
        <label> <b> Ratings : </b></label> {{software.ratings}}
    </div>

    <div>
        <label> <b> Description : </b></label> {{software.description}}<br/><br/>
    </div>
    
    <div style = "padding-left: 470px">
    
       <a href="softwares" class="btn btn-success ">Go Back </a>

    </div>
</div>

