<div class="container">
    <div class = "text-center">
        <h1 style = "color:darkblue">Sign Up</h1> 
    </div>
    
    <form>
        <div class="mb-3">
          <label>First Name :</label>
          <input type="text" placeholder=" Enter Your First Name "/>
          <label>Last Name :</label>
          <input type="text" placeholder=" Enter Your Last Name "/>
          <label>Username :</label>
          <input type="text" placeholder=" Enter Username "/>
          <label>Password :</label>
          <input type="password" placeholder=" Enter Password "/>
          <label>Confirm Password :</label>
          <input type="password" placeholder=" Enter Password "/><br/><br/>
          
          <div style = "padding-left :166px ">
             <a href="/login" class="btn btn-success" style ="color:white; cursor: pointer">Sign Up</a>
          </div>
        </div>
        <p class="para">
              Already have an account? <a href="/login">Login here</a>
        </p>
    </form>
</div>
