<div class="container">
    <div class = "text-center">
        <h1 style = "color:darkblue">Contact Us</h1> 
    </div>
    
    <form>
        <div class="mb-3">
          <label>Full Name :</label>
          <input type="text" placeholder=" Enter Your Full Name "/>
          <label>E-mail :</label>
          <input type="text" placeholder=" Enter Your E-mail "/>
          <label>Phone :</label>
          <input type="text" placeholder=" Enter your Phone Number "/>
          <label>Message :</label>
          <textarea type="text" rows="3" placeholder="Message....."></textarea> <br/><br/>

        </div>  
          
        <div style = "padding-left :145px ">
            <a  href= "home-page" class = "btn btn-success" onclick="alert('Thank You For Contacting Us, We will Connect You Soon!!.....')">Send Message</a>
        </div>
         
    </form>
</div>
