<div class="bg-img">
  <h1 style="text-align: center;  color: azure;">Welcome To Our Home Page</h1>     
    <a class = "fcc-btn" href ="/contactus">Contact Us</a> <br><br><br>
    <a class="fcc-btn" href="/softwares">Software List</a>  <br><br><br>
    <a class="fcc-btn" href="/create-software">Add Software</a><br><br><br>
    <a class="fcc-btn" href="/logout" onclick="alert('Are you sure want to logout this page?')">LogOut</a>

</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card-top" style = "width:18rem;">
      <i>
        <img class="card-img-top" src="../assets/service1.png" alt="Card image cap"  width="10" height = "100">
      </i>
      
      <div class="card-body">
        <h5 class="card-title" style = "text-align: center;">Software</h5>
        <p class="card-text" style = "text-align: center;">It is a long established fact that a reader will be distracted by the readable contentt has a more-or-less nor letters.</p>
        
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="card-top" style = "width:18rem;">
      <i>
        <img class="card-img-top" src="../assets/service2.png" alt="Card image cap"  width="20" height = "100">
      </i>

      <div class="card-body">
        <h5 class="card-title" style = "text-align: center;">For Mobile</h5>
        <p class="card-text" style = "text-align: center;">It is a long established fact that a reader will be distracted by the readable contentt has a more-or-less nor letters.</p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card-top" style = "width:18rem;">
      <i>
        <img class="card-img-top" src="../assets/service3.png" alt="Card image cap"  width="20" height = "100">
      </i>

      <div class="card-body">
        <h5 class="card-title" style = "text-align: center;">For Computer</h5>
        <p class="card-text" style = "text-align: center;">It is a long established fact that a reader will be distracted by the readable contentt has a more-or-less nor letters.</p>
        
      </div>
    </div>
  </div>

</div>